html{
	height: auto;
}

body {
	height: auto;
	position: relative;
	margin: 0 auto;	
	background-color: #F6F6F6;
}

.leftPane {
	position: absolute;
    width: 20%;
	margin: 2%;
	overflow-y: scroll;
}

.main{
	position: relative;
	margin: 2%;
	width: 75%;
	overflow-y: scroll;
	float: right;
}

.actionBar:not(.width_gt_650){
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 5px;
	background: #0096d6; 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #004691;	
	color: white;
}

button{
	border: none;
	background-color: #4BB914;
	font-style: bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
}

input {
	width: auto;	
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #A6A6A6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

select{
	width: auto;
	float: right;
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #A6A6A6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input:focus {
	border: 2px solid #096D6;
}

label {
	display: inline-block;
	width: 5%;
	color: #858585;
}

textarea {
	width: 99%;	
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #A6A6A6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#centre {
	text-align: center;
}