#mtgName{
	width: 65%;
	float: left;
}

#mtgCat{
	width: 30%;
	float: right;
}

#mtgDate{
	width: 28%;	
	float: left;
	margin-right: 6%;
}

#mtgStart{
	width: 28%;
	float: left;
	margin-right: 6%;
}

#mtgEnd{
	width: 28%;
	float: right;
}

#mtgAccepted, #mtgTentative, #mtgDeclined{
	width: 90%;
	float: right;
}

#pntAssignee {
	width: 95%;
}

#pntDate {
	width: 95%;
}

#pntActionPoint {
	width: 95%;
}

.appIcon{
	height:32px;
	width: 32px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 8px;
	vertical-align: middle;
}

.backIcon{
	height:24px;
	width: 24px;
	padding-top: 2px;
	padding-bottom: 8px;
	vertical-align: middle;
}