#mtgName{
	width: 65%;
	float: left;
}

#mtgCat{
	width: 30%;
	float: right;
}

#mtgDate, #mtgStart{
	width: 28%;	
	float: left;
	margin-right: 6.5%;
}

#mtgEnd{
	width: 28%;
	float: right;
}

#mtgAccepted, #mtgTentative, #mtgDeclined{
	width: 90%;
	float: right;
}

#pntAssignee, #pntDate, #pntActionPoint {
	width: 95%;
}

.appIcon{
	height:32px;
	width: 32px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 8px;
	vertical-align: middle;
}

.backIcon{
	height:24px;
	width: 24px;
	padding-top: 2px;
	padding-bottom: 8px;
	vertical-align: middle;
}

.shareIcon{
	height: 32px;
	width: 32px;
	padding-top: 3px;
	padding-bottom: 8px;
	vertical-align: middle;
	float: right;
}

.saveIcon{
	height: 32px;
	width: 32px;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 3px;
	padding-bottom: 8px;
	vertical-align: middle;
	float: right;
}